    <!--入户条件-->
    <div class="condition">
      <div class="condition-box">
        <!--标题-->
        <div class="test-title">
          <h1>2017年入户广州条件，选对方事半功倍</h1>
          <h3>不知道自己适合哪种入户方案，办理入户无从下手？专业解决方案，一站式入户服务</h3>
        </div>
        <!--列表-->
        <div class="condition-list">
          <dl>
            <dt>学历入户</dt>
            <dd>1、无需提供计生证明</dd>
            <dd>2、无犯罪记录</dd>
            <dd>3、本科（35周岁以下含35周岁）</dd>
            <dd class="line-feel">硕士（40周岁以下含40周岁）</dd>
            <dd>4、学历+学位</dd>
            <dd>5、广州社保一年及以上</dd>
            <dd class="button">
              <a href="">咨询详情</a>
            </dd>
          </dl>
          <dl>
            <dt>紧缺工种</dt>
            <dd>1、无需提供计生证明</dd>
            <dd>2、无犯罪记录</dd>
            <dd>3、年龄35周岁以下含35周岁</dd>
            <dd>4、高中/中专及以上学历</dd>
            <dd>5、从事工种属紧缺工种</dd>
            <dd>6、广州连续居住2年及以上</dd>
            <dd>7、广州社保2年以上</dd>
            <dd>8、入户资质审查</dd>
            <dd class="button">
              <a href="">咨询详情</a>
            </dd>
          </dl>
          <dl>
            <dt>学历入户</dt>
            <dd>1、无需提供计生证明</dd>
            <dd>2、无犯罪记录</dd>
            <dd>3、本科（35周岁以下含35周岁）</dd>
            <dd class="line-feel">硕士（40周岁以下含40周岁）</dd>
            <dd>4、学历+学位</dd>
            <dd>5、广州社保一年及以上</dd>
            <dd class="button">
              <a href="">咨询详情</a>
            </dd>
          </dl>
          <dl>
            <dt>高级技师/职称</dt>
            <dd>1、无需提供计生证明</dd>
            <dd>2、无犯罪记录</dd>
            <dd>3、年龄45周岁以下含45周岁</dd>
            <dd>4、副高/高级技师</dd>
            <dd>5、广州社保一年及以上</dd>
            <dd>6、所从事工作须与技能一致</dd>
            <dd>7、入户资质审查</dd>
            <dd class="button">
              <a href="">咨询详情</a>
            </dd>
          </dl>
          <dl>
            <dt>技师入户</dt>
            <dd>1、无需提供计生证明</dd>
            <dd>2、无犯罪记录</dd>
            <dd>3、年龄40周岁以下含40周岁</dd>
            <dd>4、高中及以上学历（技师）</dd>
            <dd class="line-feel">无学历要求（二级技能）</dd>
            <dd>5、广州社保一年以上</dd>
            <dd>6、入户资质审查</dd>
            <dd class="button">
              <a href="">咨询详情</a>
            </dd>
          </dl>
        </div>
      </div>
    </div>