<div class="section">
  <div class="flow">
    <div class="flow-title">
      <h3>目前为止，我们已经协助数万客户成功办理入户广州</h3>
      <ul>
        <li>
          <i class="i_1"></i>
          <span class="colour">51132</span>
          <span class="desc">学历入户</span>
        </li>
        <li>
          <i  class="i_2"></i>
          <span class="colour">51132</span>
          <span class="desc">学历入户</span>
        </li>
        <li>
          <i  class="i_3"></i>
          <span class="colour">51132</span>
          <span class="desc">学历入户</span>
        </li>
        <li>
          <i  class="i_4"></i>
          <span class="colour">51132</span>
          <span class="desc">学历入户</span>
        </li>
      </ul>
    </div>

    <!--流程图-->
    <div class="flow-transact">
      <div class="transact-box">
        <div class="transact-title">
          <h3>广州入户办理流程</h3>
          <div>
            <span class="fl"></span>
            <p>广州指定人才引进服务窗口相比其他机构，我们更快，更专业，更加有保障</p>
            <span class="fr"></span>
          </div>
        </div>
        <div class="transact-img">
          <img src="__home__/images/flow_img.png">
        </div>
      </div>
    </div>

    <!--   -->
    <div class="flow-details">
      <div class="details-box">

        <div class="details-title">

          <!---->
          <div>
            <span class="fl"></span>
            <h2 class="fl">广州穗惠值得您信赖</h2>
            <span class="fr"></span>
          </div>

          <!---->
          <h3>6大保障/成功落户/行业权威/6年专注</h3>

        </div>

        <div class="details-content">
          <ul>
            <li>
              <h1>协议保障</h1>
              <div>
                <img src="__home__/images/flow_content_1.jpg">
              </div>
              <span>现场签订协议，保障权益</span>
            </li>
            <li>
              <h1>正规单位</h1>
              <div>
                <img src="__home__/images/flow_content_2.jpg">
              </div>
              <span>广州人才市场合作单位营业执照齐全</span>
            </li>
            <li>
              <h1>十年经验</h1>
              <div>
                <img src="__home__/images/flow_content_3.jpg">
              </div>
              <span>行业权威，专注入户事业</span>
            </li>
            <li>
              <h1>专业团队</h1>
              <div>
                <img src="__home__/images/flow_content_4.jpg">
              </div>
              <span>资深老师，严格把关</span>
            </li>
            <li>
              <h1>口碑最佳</h1>
              <div>
                <img src="__home__/images/flow_content_5.jpg">
              </div>
              <span>近6年办学以来，获得学员的一致好评</span>
            </li>
            <li>
              <h1>VIP服务</h1>
              <div>
                <img src="__home__/images/flow_content_6.jpg">
              </div>
              <span>每一位客户拥有自己的专属客服，服务无微不至</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>