<div class="news">

    <!--标题-->
    <div class="news-title">
      <h3>{$new_data['title']}</h3>
      <p>
        <span class="publish_name">发布人：{$new_data['author']}</span>
        <span class="publish_time">发布时间：{$new_data['add_time']}</span>
      </p>
    </div>

    <!--内容-->
    <div class="news-box">
      <h3>{$new_data['title']}</h3>
      {$new_data['content']|htmlspecialchars_decode}
<!--       <p>日前，经市政府批准，2017年积分制入户政策继续沿用原《广州市积分制入户管理办法》及实施细则。根据有关规定，今年积分制入户不再将符合计划生育政策作为基本条件，并对选择填报公共集体户落户地址方面作具体明确，将使合法稳定居住和就业的来穗人员申请入户广州更加便捷。</p>
      <p>日前，经市政府批准，2017年积分制入户政策继续沿用原《广州市积分制入户管理办法》及实施细则。根据有关规定，今年积分制入户不再将符合计划生育政策作为基本条件，并对选择填报公共集体户落户地址方面作具体明确，将使合法稳定居住和就业的来穗人员申请入户广州更加便捷。</p>
      <p>日前，经市政府批准，2017年积分制入户政策继续沿用原《广州市积分制入户管理办法》及实施细则。根据有关规定，今年积分制入户不再将符合计划生育政策作为基本条件，并对选择填报公共集体户落户地址方面作具体明确，将使合法稳定居住和就业的来穗人员申请入户广州更加便捷。</p> -->
    </div>
  </div>
