    <!--测试一下-->
<div class="test">
      <div class="test-box">
        <div class="test-content">

          <!--表单-->
          <form action="{:url('home/index/test')}" method="post">

            <div class="form-item">
              <i class="i_1"></i>
              <label class="form-label">*您的姓名</label>
              <input type="text" name="name" placeholder="请填写真实姓名">
            </div>

            <div class="form-item">
              <i class="i_2"></i>
              <label class="form-label">*您的手机</label>
              <input type="text" name="phone" placeholder="请填写真实手机">
            </div>

            <div class="form-item">
              <i class="i_3"></i>
              <label class="form-label">*您的学历</label>
              <select name="education_code">
                <option value="1">本科</option>
                <option value="2">高中</option>
                <option value="3">专科</option>
                <option value="4">本科以上</option>
                <option value="5">其他</option>
              </select>
            </div>

            <div class="form-item">
              <i class="i_4"></i>
              <label class="form-label">*您的年龄</label>
              <select name="age">
                <option value="1">18-22</option>
                <option value="2">23-34</option>
                <option value="3">35-40</option>
                <option value="4">41-45</option>
              </select>
            </div>

            <div class="form-item">
              <i class="i_5"></i>
              <label class="form-label">*您的社保</label>
              <input type="text" name="insurance" placeholder="社保按年算">
            </div>

            <div class="form-item">
              <i class="i_6"></i>
              <label class="form-label">*有无房产</label>
              <select name="is_property">
                <option value="Y">有</option>
                <option value="N">无</option>
              </select>
            </div>
              <button class="btn" type="submit" >
                <a href="#">
                  <img src="__home__/images/test_box_btn.png">
                </a>
              </button>
          </form>
          
        </div>
      </div>
     