  <!-- 内容 -->
  <div class="news">
    {volist name="list" id="vo"}
    <div class="news-item">
      <a href="{:url('mobil/index/policydet',['id'=>$vo['id']])}">
        <span class="desc">• 名额紧张！{$vo['title']}</span>
        <span class="time">[{$vo['add_time']}]</span>
      </a>
    </div>
    {/volist}

    <!--分页-->
        <div class="pag">
          <div class="message" style="text-align:left;">共<i class="blue" style="color:blue;" >{$count}</i>条记录，当前显示第&nbsp;<i class="blue" style="color:blue;" >{$currentPage}&nbsp;</i>页</div>  
            {$page}
        </div> 
  </div>
  <!-- 内容 -->

  <!--js部分-->
  <script src="__mobil__/js/jquery-1.10.2.min.js"></script>
  <script src="__mobil__/js/swiper.min.js"></script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
      slidesPerView: 1,
      paginationClickable: true,
      spaceBetween: 30,
      loop: true
    });
  </script>
<!--js部分-->