<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>入户百事通首页</title>
  <link rel="stylesheet" href="__home__/css/commom.css">
  <link rel="stylesheet" href="__home__/css/index.css">

</head>

<body>

  <!-- 头部 -->
  <div id="header">
    <!-- logo -->
    <div class="logo">
      <div class="logo-lf">
        <img src="__home__/images/logo.png">
      </div>
      <div class="logo-md">
        <img src="__home__/images/QRcode_1.jpg">
      </div>
      <div class="logo-rt">
        <i></i>
        <div>
          <h3>客服热线：</h3>
          <span>020-87572189</span>
        </div>
      </div>
    </div>

    <!-- 导航栏 -->
    <div class="nav">
      <ul>
        <li>
          <a href="{:url('/home/index/index')}">首页</a>
        </li>
        <li>
          <a href="{:url('/home/index/policy')}">广州入户政策</a>
        </li>
        <li>
          <a href="{:url('/home/index/test')}">广州入户测评</a>
        </li>
        <li>
          <a href="{:url('/home/index/flow')}">广州入户流程</a>
        </li>
        <li>
          <a href="{:url('/home/index/condition')}">广州入户条件</a>
        </li>
        <li>
          <a href="{:url('/home/index/order')}">网上入户预约</a>
        </li>
        <li>
          <a href="{:url('/home/index/examples')}">广州入户案例</a>
        </li>
        <li>
          <a href="{:url('/home/index/about')}">关于我们</a>
        </li>
      </ul>
    </div>
  </div>

{__CONTENT__}
  
  <!-- 底部 -->
  <div id="footer">
    <div class="footer-box">
      <!--二维码-->
      <div class="footer-img">
        <img src="__home__/images/QRcode_2.jpg">
      </div>
      <!--版权-->
      <div class="copyright">
        <ul>
          <li>广州穗惠人力资源有限公司<span>&copy;版权所有</span></li>
          <li>服务热线：020-87572189</li>
          <li>粤备案号：粤ICP备17044742号</li>
          <li>地址：广州市天河区天河路490号1803室</li>
        </ul>
      </div>
    </div>
  </div>

  <script src="__home__/js/jquery-3.2.1.min.js"></script>
  <script src="__home__/js/jquery-1.10.2.min.js"></script>
  <script src="__home__/js/jquery.SuperSlide.2.1.1.js"></script>
  <script src="__home__/js/index.js"></script>
</body>
</html>